*, *:before, *:after {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
p a {
	opacity: 0.4;

	&:hover {
		opacity: 0.6;
	}
}
body {
	font-family: Lato;
}
.container {
	width: 80%;
	max-width: 1024px;
	margin: 0 auto;
}
header {
	width: 100%;
	height: 130px;
	background: rgba(256,256,256,0.95);
}
.interna main {
	opacity: 0;
}
main {
	height: 100%;
	overflow: hidden;
}
h1 {
	font-size: 48px;
	line-height: 80px;
	font-family: Pacifico;
	text-align: center;
}
button {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	display: block;
	width: 260px;
	height: 50px;
	margin: 40px auto;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;

	background: #cb4e4e;
	color: #fff;
	box-shadow: 0 6px #ab3c3c;
	border-radius: 5px;

	&:hover {
	}

	&:active {
		box-shadow: 0 3px #ab3c3c;
		top: 3px;
	}
}
p.sub {
	text-align: center;
	opacity: 0.6;
}
article.detalhe {
	position: absolute;
	top: 130px;
	margin: 0 auto;
	left: 0;
	right: 0;
	border-top: solid 1px #f0f0f0;

	h2 {
		margin: 30px 0 10px;
		font-size: 48px;
	}
	figure {
		display: inline-block;
		width: 40px;
		height: 40px;
		overflow: hidden;
		border-radius: 5px;
		border: solid 1px #f5f5f5;
		margin-bottom: 20px;

		img {
			width: 100%;
		}
	}
	span.author {
		display: inline-block;
		vertical-align: top;
		margin-left: 10px;
		opacity: 0.6;
	}
	p {
		margin: 0 0 5px;
	}
	img.feat {
		max-width: 100%;
		display: block;
		margin: 30px auto 40px;
	}
}
.shots {
	width: 100%;
	list-style: none;
	text-align: center;
	padding-bottom: 20px;
}
li.shot {
	width: 340px;
	overflow: hidden;
	display: inline-block;
	margin: 0 10px 18px;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
	background: #f5f5f5;

	a {
		display: block;
	}
	img {
		width: 100%;
	}
	h3 {
		text-align: left;
	}
}

// Mobile
@media screen and (max-width: 720px) {
	li.shot {
		width: 90%;
		margin: 0px;
	}
}
// E tablet
@media screen and (max-width:800px) {
	li.shot {
		background: none;
		margin-bottom: 20px;

		img {
			border-radius: 5px;
		}
	}
	article.detalhe {
		h2 {
			font-size: 26px;
			margin-top: 10px;
		}
		p {
			white-space: pre-line;
		}
	}
	.container {
		width: 90% !important;
	}
}

// Apenas desktop
@media screen and (min-width:800px) {
	li.shot {
		height: 255px;
		border: solid 1px #f5f5f5;

		a {
			display: table;
			height: 100%;
			width: 100%;
			text-decoration: none;
		}
		h3 {
			display: none;
			width: 100%;
			margin: auto;
			color: #fff;
			font-weight: 300;
			text-align: center;
			padding: 100px 0;
			vertical-align: middle;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.shot:hover {
		background: #333;

		img {
			opacity: 0.1;
		}
		h3 {
			display: table-cell;
		}
	}
}